/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

.signB {
  right: 0.5%;
  top: 1%;
  position: fixed;
}
.btn {
  background-color: #2519ff;
  color: white;
  padding: 10px 10px;
}
.heading1 {
  font-family: 'Satisfy';
  font-size: 50px;
  color: #2519ff;
  margin: 0px;
  position: relative;
  left: 20px;
  width: 50%;
}
.heading2 {
  font-family: 'Marck Script';
  font-size: 15px;
  color: black;
  position: relative;
  left: 20px;
  width: 50%;
}
.postButtons {
  position: fixed;
  left: 45%;
  top: 50%;
}
.btn1 {
  background-color: #f0c000;
  color: black;
  padding: 10px 10px;
  margin-left: 10px;
}
#redirect {
  color: rgb(0, 72, 145);
  cursor: pointer;
}
#nm {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */

/* ********************************** */
/************MODAL**************MODAL**************************  */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
  z-index: 1;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#head1 {
  font-family: 'Josefin Sans';
  font-weight: 500;
  text-align: center;
}
.sh6 {
  font-family: 'Josefin Sans';
  font-weight: 500;
  color: black;
}
form {
  border-top: 1px solid black;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 0px;
  padding: 0%;
  margin: 0%;
}
input[type='text'] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
}
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
}
input[type='textbox'] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
}
#sub1 {
  background-color: #0ec038;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 15px;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}
#redirect {
  color: dodgerblue;
  cursor: pointer;
}
/* ************************************************ */
/* MODAL2*******************MODAL2*************/
.modal1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
  z-index: 1;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content1 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content1 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}
/* ******************DELETE MODAL*************** */
#ya {
  background-color: red;
  color: white;
  border-color: transparent;
  padding: 5px 10px;
  width: 60px;
  left: 50px;
}
#btns {
  left: 30%;
  position: relative;
}
#na {
  font-family: 'Ubuntu Condensed';
  background-color: green;
  color: white;
  border-color: transparent;
  padding: 5px 10px;
  width: 60px;
  right: 50px;
}
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

/* The Close Button */

.modal-content3 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}
